<div class="message">
  
  <%= link_to "#{message.sender.name}", profile_path(message.sender), :class => "participants"  %>, <%= time_ago_in_words(message.updated_at)%> <span class="normal">ago:</span>
  <div class="body">
    <%= raw(message.body) %>
  </div>
</div>