<% content_for :title do %>
  <%=t('message.other')%>
<% end %>


<div class="page-header">
</div>
<div class="row ">
  <div class="col-md-2 navigation-conversations"> 
    <%= render partial: 'toolbar/messages' %>
  </div>
  <div class="col-md-10">
      <%= render :partial => 'new' %>
  </div>
</div>
