<div>
From <%= conversation.last_sender.name  %>
Subject <%= conversation.subject %>
<%= link_to "read me", conversation_path(conversation) %>
<%= link_to "read me2", conversation_path(conversation.id) %>
</div>