// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "chosen";

.chzn-search {
  width: 180px;
}

.loc-search {
 width: 250px; 
}

.profile-image {
  float: left;
  width: 100px;
}

.basic-info {
  margin-left: 108px;
  width: 150px;
}