// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "chosen";


.loc-search {
 width: 180px;
 height: 20px; 
}

.page-header {
  margin: 0 auto;
}

.intro {
  margin: 20px auto 15px auto;
  font-size: 35px;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
  line-height: 80%;
  color: #FCFFFC;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
}

.profile-image {
  display: block;
  float: left;
  width: 80px;
  height: 80px; 
  overflow: hidden;
}

.profile-image-inner {
  width: 80px;
}

.basic-info-top {
  display: block;
  height: 80px;
}

.basic-info-content {
  margin: 0 0 0 90px;
  display: block;
  font-weight: 700;
  color: #000;
}

.basic-info-name {
  margin-top: -2px;
  font-size: 14px;
}

.basic-info-bottom {
  margin-top: -1px;
  font-size: 12px;

}

.advanced-search {
  color: #FCFFFC;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
}

.form-component-l {
  width: 200px;
  display: inline;
  float:left;
  margin-bottom: 15px;
}

.form-component-s {
  width: 60px;
  display: inline;
  float:left;
}

.dropdown {
  color: #000;
}

.adv-search-tag {
  width: 60px;
  display: block; 
  margin-left: 170px; 
}

.btn-link {
  color: #FCFFFC;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
  font-weight: 300;
  margin-top: -15px;
}


.chzn-label {
}

.chzn-search {
  width: 180px;
}

.chosen-container {
  display: block;
  text-shadow: 0 0 0em #000, 0 0 0em #000;
}

.list-group {
  margin-top: 20px;
  margin-left: 20px;
}

.list-group-item {
  margin-top: 5px;
  border-radius: 8px;
  height: 100px;
  width: 250px; 
  display: inline-table;
  margin-right: 20px;
  margin-bottom:25px;
}

