// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "chosen";

.chzn-search {
  width: 180px;
}

.loc-search {
 width: 250px; 
}

.page-header {
  margin: 0 auto;
}

.h3 {
  margin: 0 auto;
  font-size: 20px;
}

.call-out {
  font-size: 24px;
}

.list-group-item {
  margin-top: 5px;
}

.profile-image {
  display: block;
  float: left;
  width: 80px;
  height: 80px; 
  overflow: hidden;
}

.profile-image-inner {
  width: 80px;
}

.basic-info-top {
  display: block;
  height: 80px;
}

.basic-info-content {
  margin: 0 0 0 90px;
  display: block;
  font-weight: 700;
}

.basic-info-name {
  margin-top: -2px;
  font-size: 18px;
}

.basic-info-bottom {
  margin-top: 2px;
  display: block;
  height: 40px;
  font-size: 14px;
}

.basic-info-bottom-content { 
}


