// Place all the styles related to the JamManagements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "chosen";

.chzn-search{
  width: 320px;
  color: black;
}

.instrument_choice {
 color: #000; 
}